@{
    ViewData["Title"] = "Home Page";
}
@section Estilos{
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
}
<div class="card-group">
    <div class="card">
        Productos
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <table id="tb_productos" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>idproducto</th>
                        <th>nombre</th>
                        <th>costo</th>
                        <th>categoria</th>
                        <th>subcategoria</th>
                        <th>idVendedor</th>
                        <th>calificacion</th>
                        <th>unidades</th>
                        <th>imagen</th>
                        <th>descripcion</th>

                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    @*<div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>*@
    @*<div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>*@
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tb_productos').DataTable({
            "ajax": {
                "url": "@Url.Action("ListaProductos","Home")",
                "type": "GET",
                "datatype":"json"
            },
            "columns":[
                { "data": "idPoductos" },
                { "data": "nombre" },
                { "data": "costo" },
                { "data": "categoria" },
                { "data": "subcategoria" },
                { "data": "idVendedor" }
            ]
        });
        
    </script>

}
